<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create event</title>
</head>
<body>
    <div>
        <div>
            <form action="#" th:action="@{/events}" th:object="${event}" method="post">
                <label for="name" th:text="#{event.add.name.label}"></label>
                <input type="text" id="name" th:field="*{name}">
            <br>
                <label for="host" th:text="#{event.add.host.label}"></label>
                <select id="host" th:field="*{hostId}">
                    <option th:each="participant : ${participants}" th:text="${participant}" th:value="${participant.id}"></option>
                </select>
            <br>
                <label for="dateTime" th:text="#{event.add.dateTime.label}"></label>
                <input type="datetime-local" id="dateTime" th:field="*{dateTime}">
            <br>
                <label for="eventCategory" th:text="#{event.add.eventCategory.label}"></label>
                <select id="eventCategory" th:field="*{categoryId}">
                    <option th:each="category : ${categories}" th:text="${category}" th:value="${category.id}"></option>
                </select>
            <br>
                <label for="url" th:text="#{event.add.url.label}"></label>
                <input type="text" id="url" th:field="*{url}">
            <br>
                <label for="durationInMinutes" th:text="#{event.add.duration.label}"></label>
                <input type="text" id="durationInMinutes" th:field="*{durationInMinutes}">
            <br>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
</body>
</html>